table {
    padding-right: 30px;
    align-items: center;
    width: 50%;
    color: black;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Times New Roman';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th,
td {
    padding: 8px 15px;
    text-align: left;
    border-bottom: 1px solid white;
}

th {
    background-color: whitesmoke;
    font-weight: bold;
}

tr:hover {
    background-color: whitesmoke;
}
