<div class="header">
  <header>
    <h1 align="center">Bank Management System Application</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#HomeInfo">HOME</a></li>
      <li><a href="#AboutInfo">ABOUT US</a></li>
      <li><a href="#ServiceInfo">SERVICES</a></li>
      <li><a href="#ContactInfo">CONTACT</a></li>
    </ul>
  </nav>
</div>

<div class="bankinfo">
  <h1>Banking is a branch of the <br><span></span>
    Information Business</h1>
    <h4>A bank management system is a comprehensive software solution designed to streamline and automate various banking operations, 
      providing efficient management of financial transactions, customer data, and administrative tasks within a bank.</h4>
</div>

<div class="images">
  <div class="img">
    <img src="https://c8.alamy.com/comp/2BGW9JC/male-bank-manager-using-virtual-screen-on-dark-background-2BGW9JC.jpg" alt="Image" height="200px" width="300px">
  </div>
<div class="img">
  <img src="https://img.freepik.com/free-vector/banking-systems-icons-isometric-composition_1284-14863.jpg" alt="Image" height="200px" width="300px">
</div>
<div class="img">
  <img src="https://5.imimg.com/data5/SELLER/Default/2023/8/336103923/IB/CD/YZ/2749969/bank-management-software-service-500x500.jpg" alt="Image" height="200px" width="300px">
</div>
</div>

<div class="information">
  <main class="HomeSection">
    <div id="HomeInfo" class="InfoSection">
      <h3>Home</h3>
      <p> Bank management system can be consider as a most important thing in economic world. <br><br>
        Bank management systems are essential software systems for financial institutions to manage their operations effectively. <br>
        The system provides various functionalities, including customer management, account management, transaction management.</p>  
    </div>
    <div id="AboutInfo" class="InfoSection">
      <h3><u>About Bank Management System</u></h3>
      <p> Bank management systems are essential software systems for financial institutions to manage their operations effectively. 
        The system provides various functionalities, including customer management, account management, transaction management.</p>  
        <h3><u>Features of our Bank</u></h3>
        <ul>
          <li><strong><u>Customer Management:</u></strong><br>
          <strong>Account Handling : </strong>Managing customer accounts, their types (savings, checking, loans), and account-related activities. <br><br>
          <strong>Profile Management : </strong>Storing and updating customer information
          </li> <br>
          <li><strong><u>Transaction Processing:</u></strong><br>
            <strong>Transaction Management : </strong> Handling various transactions like deposits, withdrawals, fund transfers . <br><br>
            <strong>Real Time Processing : </strong> Ensuring prompt and accurate execution of transactions while maintaining security.
            </li> 
      </ul>
    </div>
    <div id="ServiceInfo" class="InfoSection">
        <h3><u>Services of Bank Management System</u></h3>
        <p>Banks offer a diverse range of services catering to the financial needs of individuals, businesses, and institutions. <br><br>
           These services are designed to facilitate transactions, manage finances, provide access to credit, and offer various investment opportunities.
           Here's an overview of common services provided by banks:</p>
          <ul>
            <li><strong>Savings Accounts : </strong>Offered for individuals to deposit and save their money, usually earning interest.</li>
            <li><strong>Current Accounts : </strong>Designed for businesses and frequent transactions, allowing unlimited withdrawals and deposits.</li>
            <li><Strong>Credit Cards : </Strong>Offered for convenient transactions with a line of credit and rewards system.</li>
            <li><strong>Wealth Management : </strong>Cater to high-net-worth individuals with specialized investment and advisory services.</li>
          </ul>
    </div>
    <div id="ContactInfo" class="InfoSection">
      <h3>Contact</h3>
      <p> Bank management system can be consider as a most important thing in economic world. <br><br>
        Bank management systems are essential software systems for financial institutions to manage their operations effectively. <br>
        The system provides various functionalities, including customer management, account management, transaction management.</p>  
        <p>You can contact us for knowing more details about our company</p>
        <h3>Our contact numbers are 9999999999   8585858585</h3>
    </div>
  </main>
  </div>

  <div class="content">
    <div class="bank">
    <h3>Bank</h3>
    <ul>
      <li>
        <a routerLink="getallBranchDetails" routerLinkActive="active" href="#">Get Bank Details</a>
      </li>
      <li>
        <a routerLink="saveBankDetails" routerLinkActive="active" href="#">Insert Bank Details</a>
      </li>
      <li>
        <a routerLink="updateBankDetails" routerLinkActive="active" href="#">Update Bank Details</a>
      </li>
    </ul>
    </div>
    <div class="customers">
      <h3>Customers</h3>
      <ul>
        <li>
          <a routerLink="getCustDetails" routerLinkActive="active" href="#">Get Customer Details</a>
        </li>
        <li>
          <a routerLink="saveCustomer" routerLinkActive="active" href="#">Insert Customer Details</a>
        </li>
        <li>
          <a routerLink="updateCustomer" routerLinkActive="active" href="#">Update Customer Details</a>
        </li>
      </ul>
    </div>
    <div class="accounts">
    <h3>Accounts</h3>
    <ul>
    <li>
      <a routerLink="getallAccounts" routerLinkActive="active" href="#">Get Account Details</a>
    </li>
    <li>
      <a routerLink="saveAccount" routerLinkActive="active" href="#">Insert Account Details</a>
    </li>
    <li>
      <a routerLink="updateAccount" routerLinkActive="active" href="#">Update Account Details</a>
    </li>
    </ul>
    </div>
    <div class="transactions">
      <h3>Transactions</h3>
      <ul>
      <li>
        <a routerLink="getalltransactions" routerLinkActive="active" href="#">Get transaction Details</a>
      </li>
      <li>
        <a routerLink="saveTransaction" routerLinkActive="active" href="#">Insert transaction Details</a>
      </li>
      <li>
        <a routerLink="updateTransaction" routerLinkActive="active" href="#">Update transaction Details</a>
      </li>
      </ul>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  <footer>

  </footer>
  
